.App {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  border-left: solid 5px purple;
  border-right: solid 5px purple;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.StartingPageContainer a {
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 2vw;
  border-radius: 10px;
}
.StartingPageContainer a:hover {
  background-color: rgba(128, 0, 128, 0.733);
}

.StartingPageContainer a:hover {
  background-color: rgba(128, 0, 128, 0.493);
}
